.site-cover {
    position: relative;
    display: flex;
    padding: 30px;
    min-height: 350px;
}

.cover-content {
    position: relative;
    z-index: 10;
    margin: auto;
    max-width: 500px;
    color: var(--white-color);
    text-align: center;
}

/* .cover-img { */
    /* filter: contrast(150%); */
     /* filter: brightness(250%); */
     /* filter: brightness(120%);
    filter: contrast(120%); */
    /* background: rgba(0,0,0,1.5); */
    /* filter: opacity(100%); */
    /* background-blend-mode: lighten; */
  /* } */

.cover-logo {
    margin: 0 auto;
    max-height: 100px;
}

.cover-description {
    margin-top: 20px;
    font-size: 16px;
}
